@model GreenMonkeysMVC.Models.ViewModels.EmployeeDetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Computer.Make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Computer.Make)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Computer.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Computer.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingPrograms)
        </dt>
        @foreach (var item in Model.TrainingPrograms) {
        <dd class="col-sm-10">
          
                @Html.DisplayFor(modelItem => item.Name)
           
        </dd>
}
    </dl>
    
    <form asp-action="Details">
        @*<input type="submit" value="Delete" class="btn btn-danger" /> *@
        <a asp-action="Index">Back to List</a>
    </form>
</div>
