@model GreenMonkeysMVC.Models.ViewModels.TrainingProgramDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TrainingProgram</h4>
    <hr />
    <dl class="row">
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingProgram.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingProgram.Id)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingProgram.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingProgram.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingProgram.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingProgram.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingProgram.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingProgram.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingProgram.MaxAttendees)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingProgram.MaxAttendees)
        </dd>
    </dl>
</div>
<tbody>
    @foreach (var item in Model.EmployeesInTraining)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>*@
        </tr>
    }
</tbody>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TrainingProgram.Id}) |
    <a asp-action="Index">Back to List</a>
</div>
