@model IEnumerable<GreenMonkeysMVC.Models.Computer>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Computers</h1>

<form asp-controller="Computers" asp-action="Index">
    <p>
        Find Computer By Make or Model: <input type="text" name="SearchComputer">
        <input type="submit" value="Filter" />
    </p>
</form>

<p>
    <a asp-action="Create">Create A New Computer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
